// ==================================
// Forms
// ==================================

// Form general styling

.form {
  &__label--hidden {
    display: none;
  }
  &__input {
    @extend %input; // general input styling
    margin: auto;
    margin-bottom: em(30px);
    &::placeholder {
      padding-left: em(10px);
    }
  }
}

.form .btn--default {
  width: 100%;
}
