// ==================================
// Images
// ==================================

// Img general styling

.img {
  &--logo {
    @extend %img;
    margin: em(40px) auto;
    @include mq(medium) {
      margin-left: auto;
    }
  }
  &--avatar {
    @extend %img;
    margin: em(30px) auto;
  }
  &--frame {
    @include size(99%);
    @extend %img;
    border: 1px solid palette(grey, x-light);
    padding: em(15px);
    margin-top: em(20px);
  }
}
